html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	/*overflow: hidden;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

canvas {

	/*margin: 0;*/
	/*width: 100%;
	height: 100%;*/
	/*border: thick dotted green;*/
}

/*body {
	margin: 0;
	overflow: hidden;
	cursor: move;
}*/
